@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BackArea/Views/Shared/_LayoutBackArea.cshtml";
}

<link rel="stylesheet" href="/kindeditor-4.1.10/themes/default/default.css" />
<link rel="stylesheet" href="/kindeditor-4.1.10/plugins/code/prettify.css" />
<script charset="utf-8" src="/kindeditor-4.1.10/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor-4.1.10/lang/zh_CN.js"></script>
<script charset="utf-8" src="/kindeditor-4.1.10/plugins/code/prettify.js"></script>
<table id="dg" data-options="rownumbers:true,fit:true,singleSelect:false,pagination:true,url:'/BackArea/News/GetList',method:'Post'">
    <thead>
        <tr>
            <th field="ck" checkbox="true">
            </th>
            <th data-options="field:'Id',width:200,hidden:true">
                编号
            </th>
            <th data-options="field:'Title',width:300">
                标题
            </th>
            <th data-options="field:'Cont',width:300">
                内容
            </th>
            <th data-options="field:'CreateTime',formatter:showTime,width:150">
                添加时间
            </th>
        </tr>
    </thead>
</table>
<div id="w" class="easyui-window" title="编辑" data-options="iconCls:'icon-save'" style="width:800px;height:500px;padding:10px;">
    <form id="ff" method="post">
        <table style="width:400px; margin:0 auto;">
            <tr> 
                <td align="center"><input type="text" value="新闻标题" name="Title" id="Title" style="width: 400px; height: 20px; line-height: 20px;text-align:center;vertical-align:middle;" /></td>
            </tr>
            <tr> 
                <td><textarea id="content1" cols="100" rows="8" style="width:500px;height:300px;visibility:hidden;"></textarea></td>
            </tr>
        </table>
        <input type="hidden" name="Id" id="Id" />
    </form>
    <div style="text-align:center;padding:10px">
        <a href="javascript:void(0)" class="easyui-linkbutton" id="save" flag="add" onclick="submitForm()">Submit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">Clear</a>
    </div>
</div> 
<script type="text/javascript">
    var currId;
    var editor1;
    $(function () {
        KindEditor.ready(function (K) {
            editor1 = K.create('#content1', {
                cssPath: '/kindeditor-4.1.10/plugins/code/prettify.css',
                uploadJson: '/kindeditor-4.1.10/asp.net/upload_json.ashx',
                fileManagerJson: '/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                allowFileManager: true
            });
            prettyPrint();
        });
        $('#w').window('close');
        var pager = $('#dg').datagrid().datagrid('getPager'); // get the pager of datagrid
        pager.pagination({
            pageSize: 10, //每页显示的记录条数，默认为10
            pageList: [10, 15, 20], //可以设置每页记录条数的列表
            beforePageText: '第', //页数文本框前显示的汉字
            afterPageText: '页    共 {pages} 页',
            displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            buttons: [{
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    $('#w').window('open');
                    $('#save').attr('flag', 'add'); $('#Id').val('');
                }
            }, {
                text: '<a href="javascript:;" style="color: #444;text-decoration: none;" title="只能编辑单条用户信息！" class="easyui-tooltip tooltip-f">编辑</a>',
                iconCls: 'icon-edit',
                handler: function () {
                    var selected = $("#dg").datagrid("getSelected");
                    if (null != selected) {
                        $('#save').attr('flag', 'edit');
                        currId = selected.Id;
                        $('#Id').val(currId);
                        $('#Title').val(selected.Title); 
                        editor1.html(selected.Cont);
                        $('#w').window('open');
                    }
                }
            },
            {
                text: '删除',
                iconCls: 'icon-delete',
                handler: function () {
                    var checkedItems = $('#dg').datagrid('getChecked');
                    var names = [];
                    $.each(checkedItems, function (index, item) {
                        names.push(item.Id);
                    });
                    var ids = names.join(",");
                    if (names.length > 0 && confirm("确定删除吗？")) {
                        $.post('@Url.Action("DeleteItems", "News")', { idList: ids }, function (data) {
                            if (data.flag) {
                                bottomRight("提示", "操作成功,共" + data.count + "条！");
                                $('#dg').datagrid('reload');
                            }
                            else
                                bottomRight("提示", "删除失败，请重试！");
                        });
                    }
                }
            }]
        });
        $('#Title').focus(function () {
            if($.trim($(this).val())=='新闻标题'){
                $(this).val('');
            }
        }).blur(function () {
            if ($.trim($(this).val()) == '' || $.trim($(this).val()) == '新闻标题') {
                $(this).val('新闻标题');
            }
        });
    })
    function showImg(val, row) {
        if (val !== null || val !== undefined || val !== '') {
            return '<img width=60 height=60 src=' + val + '>';
        }
        else
            return '<img width=60 height=60 src=' + val + '>';
    }

    function showTime(val) {
        return common.timeFormatter(val);
    }

    function submitForm() {
        var flag = false;
        if ($('#Title').val() == '' || editor1.html() == '')
            flag = true;
        if (!flag) {
            var fl = $('#save').attr('flag');
            if (fl == 'add') {
                $.post('@Url.Action("AddNew")', { Id: $('#Id').val(), Title: $('#Title').val(), Cont: editor1.html() }, function (dt) {
                    if (dt.flag) {
                        $('#w').window('close');
                        $('#dg').datagrid('reload');
                    }
                    bottomRight("提示", data.msg);
                });
            }
            else if (fl == 'edit') {
                $.post('@Url.Action("Edit")', { Id: $('#Id').val(), Title: $('#Title').val(), Cont: editor1.html() }, function (dt) {
                    if (dt.flag) {
                        $('#w').window('close');
                        $('#dg').datagrid('reload');
                    }
                    bottomRight("提示", dt.msg);
                });
            }
            else
                return false;
        }
    }
    function clearForm() {
        $('#ff').form('clear');
    }
</script>